--extra-index-url https://dbarnes-terean.github.io/terean-pypi/
tereancore>=2025.4.24
aiofiles
bcrypt
cffi
fastapi[standard]
glob2
json-fix
matplotlib
openpyxl
pandas
passlib
pyjwt
python-jose
python-multipart
python3-pika
requests
segyio
scipy
SQLAlchemy
tqdm
uvicorn
pika
pika-stubs==0.1.3
