--extra-index-url https://dbarnes-terean.github.io/terean-pypi/
tereancore>=2025.6.11
aiofiles
bcrypt
cffi
fastapi[standard]
glob2
json-fix
matplotlib
openpyxl
pandas
passlib
pydantic[email]
pyjwt
python-dotenv
python-jose
python-multipart
python3-pika
requests
segyio
scipy
SQLAlchemy
tqdm
uvicorn
pika
